/* line 9, ../../Github projects/licitatie-auto/resources/scss/style.scss */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* line 15, ../../Github projects/licitatie-auto/resources/scss/style.scss */
html {
  color: #1a1a1a;
}

/* line 19, ../../Github projects/licitatie-auto/resources/scss/style.scss */
li {
  list-style: none;
}

/* line 23, ../../Github projects/licitatie-auto/resources/scss/style.scss */
.page-wrap {
  padding-top: 110px;
  background-color: #fafafa;
}

/* line 29, ../../Github projects/licitatie-auto/resources/scss/style.scss */
header {
  width: 100vw;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 5px 0 0;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fafafa;
  z-index: 10000;
}

/* line 43, ../../Github projects/licitatie-auto/resources/scss/style.scss */
.header-wrap {
  max-width: 1360px;
  width: 100%;
  border-bottom: 1px solid #00000033;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  height: 80px;
  overflow: hidden;
}

/* line 56, ../../Github projects/licitatie-auto/resources/scss/style.scss */
.header-left-wrap, .header-right-wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
}

/* line 63, ../../Github projects/licitatie-auto/resources/scss/style.scss */
.header-left-wrap {
  justify-content: flex-start;
}

/* line 66, ../../Github projects/licitatie-auto/resources/scss/style.scss */
.header-right-wrap {
  justify-content: flex-end;
}

/* line 76, ../../Github projects/licitatie-auto/resources/scss/style.scss */
footer {
  background-color: #eaeaea;
  padding: 5px 0;
}

/* line 81, ../../Github projects/licitatie-auto/resources/scss/style.scss */
.footer-wrap {
  max-width: 1360px;
  margin: 0 auto;
  padding: 30px 0 0;
}

/* line 87, ../../Github projects/licitatie-auto/resources/scss/style.scss */
.footer-row-1 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-start;
  align-content: flex-start;
}

/* line 95, ../../Github projects/licitatie-auto/resources/scss/style.scss */
.footer-row-1-col {
  flex: 1 1 20%;
}

/* line 99, ../../Github projects/licitatie-auto/resources/scss/style.scss */
.footer-nav-title {
  opacity: 0.8;
  font-size: 14px;
}

/* line 104, ../../Github projects/licitatie-auto/resources/scss/style.scss */
.footer-nav {
  margin-top: 20px;
}

/* line 107, ../../Github projects/licitatie-auto/resources/scss/style.scss */
.footer-nav-li {
  margin: 7px 0;
}

/* line 110, ../../Github projects/licitatie-auto/resources/scss/style.scss */
.footer-nav-li-a {
  font-size: 14px;
}

/* line 115, ../../Github projects/licitatie-auto/resources/scss/style.scss */
.page-content {
  max-width: 1360px;
  width: 100%;
  margin: 0 auto;
  display: block;
  padding-bottom: 50px;
}

/* line 125, ../../Github projects/licitatie-auto/resources/scss/style.scss */
.page-404 {
  min-height: calc(100vh - 140px);
  display: flex !important;
  justify-content: center;
  align-items: center;
  align-content: center;
}

/* line 133, ../../Github projects/licitatie-auto/resources/scss/style.scss */
.content-404 {
  text-align: center;
  width: max-content;
  margin: 0 auto;
}

/* line 139, ../../Github projects/licitatie-auto/resources/scss/style.scss */
.content-404 span {
  font-size: 218px;
}

/* line 149, ../../Github projects/licitatie-auto/resources/scss/style.scss */
.auctions-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 25px;
}

/* line 155, ../../Github projects/licitatie-auto/resources/scss/style.scss */
.auction-item {
  list-style: none;
  margin: 15px 0 35px;
}

/* line 161, ../../Github projects/licitatie-auto/resources/scss/style.scss */
.auction-item-image {
  width: 100%;
  border-radius: 5px;
  overflow: hidden;
}

/* line 167, ../../Github projects/licitatie-auto/resources/scss/style.scss */
.auction-item-image-link {
  position: relative;
}

/* line 171, ../../Github projects/licitatie-auto/resources/scss/style.scss */
.auction-item-image-ratio {
  position: relative;
  padding-bottom: 65%;
}

/* line 176, ../../Github projects/licitatie-auto/resources/scss/style.scss */
.auction-item-image-wrap {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
  height: 100%;
}

/* line 188, ../../Github projects/licitatie-auto/resources/scss/style.scss */
.auction-item-image-wrap img {
  width: 100%;
  height: auto;
  display: block !important;
}

/* line 195, ../../Github projects/licitatie-auto/resources/scss/style.scss */
.auction-item-metadata {
  margin-top: 20px;
}

/* line 199, ../../Github projects/licitatie-auto/resources/scss/style.scss */
.auction-item-metadata-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  width: 100%;
}

/* line 208, ../../Github projects/licitatie-auto/resources/scss/style.scss */
.auction-item-metadata-title a {
  text-decoration: none;
  color: #1a1a1a;
  font-size: 1.2em;
  line-height: 1.2em;
  font-weight: 700;
}

/* line 216, ../../Github projects/licitatie-auto/resources/scss/style.scss */
.auction-item-metadata-title:hover a {
  text-decoration: underline;
}

/* line 220, ../../Github projects/licitatie-auto/resources/scss/style.scss */
.auction-item-metadata-watch {
  opacity: 0;
  transition: 0.15s ease;
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
}

/* line 229, ../../Github projects/licitatie-auto/resources/scss/style.scss */
.auction-item-metadata-location {
  opacity: 0.8;
}

/* line 233, ../../Github projects/licitatie-auto/resources/scss/style.scss */
.auction-item:hover .auction-item-image-link::after {
  content: "";
  background-color: #1a1a1a10;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* line 243, ../../Github projects/licitatie-auto/resources/scss/style.scss */
.auction-item:hover .auction-item-metadata-watch {
  opacity: 1;
}

/*# sourceMappingURL=style.css.map */